[submodule "Quivr"]
	path = Quivr
	url = https://github.com/StanGirard/Quivr.git
[submodule "privateGPT"]
	path = privateGPT
	url = https://github.com/imartinez/privateGPT.git
[submodule "TextGenWebUI"]
	path = TextGenWebUI
	url = git@github.com:oobabooga/text-generation-webui.git
[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = git@github.com:hiyouga/LLaMA-Factory.git
[submodule "crewAI-examples"]
	path = crewAI-examples
	url = git@github.com:joaomdmoura/crewAI-examples.git
[submodule "Flowise"]
	path = Flowise
	url = git@github.com:FlowiseAI/Flowise.git
[submodule "gpt-pilot"]
	path = gpt-pilot
	url = https://github.com/Pythagora-io/gpt-pilot.git
