[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
tiktoken = "*"
chromadb = "*"
pypdf = "*"
pyautogen = "*"
huggingface-hub = "*"
sentence-transformers = "*"
jupyter = "*"
jupyterlab = "*"
python-dotenv = "*"
langchain-openai = "*"
wandb = "*"
langgraph = "*"
langsmith = "*"
langchainhub = "*"
duckduckgo-search = "*"
beautifulsoup4 = "*"
gradio = "*"
litellm = {extras = ["proxy"], version = "*"}
autogenstudio = "*"
unstructured = "*"
cython = "*"
streamlit = "*"
langchain-community = "*"
wikipedia = "*"
numexpr = "*"
youtube-transcript-api = "*"
rich = "*"
textual = "*"
textual-dev = "*"
docx2txt = "*"
crewai = "*"
llama-index = "*"
html2text = "*"
llama-index-readers-web = "*"
llama-index-llms-ollama = "*"
llama-index-embeddings-huggingface = "*"
neo4j = "*"
streamlit-chat = "*"
transformers = {extras = ["torch"], version = "*"}
dspy-ai = {extras = ["chromadb"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
