[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
tiktoken = "*"
chromadb = "*"
pypdf = "*"
pyautogen = "*"
huggingface-hub = "*"
sentence-transformers = "*"
jupyter = "*"
jupyterlab = "*"
python-dotenv = "*"
langchain-openai = "*"
wandb = "*"
langgraph = "*"
langsmith = "*"
langchainhub = "*"
duckduckgo-search = "*"
beautifulsoup4 = "*"
gradio = "*"
litellm = {extras = ["proxy"], version = "*"}
autogenstudio = "*"

[dev-packages]

[requires]
python_version = "3.8"
